/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
:root {
  color-scheme: light dark;
  font-family: "Fira Code", monospace;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button:not(#btn-send) {
  cursor: pointer;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  border: hidden;
  padding: 5px;
}
button:hover {
  transform: scale(1.03);
}
button:active {
  transform: scale(1);
}
.btn-wraper {
  display: flex;
  justify-content: space-around;
}

.btn-preferential {
  background-color: seagreen;
}

dialog[open] {
  display: flex;
  flex-direction: column;
}
dialog::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: medium;
  }
  h3 {
    font-size: small;
  }
  hr {
    visibility: none;
  }
}
