#main-container {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.1fr 90vh;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

app-header-menu {
  grid-area: 1 / 1 / 2 / 3;
}

app-chat-list {
  grid-area: 2 / 1 / 3 / 2;
}

app-chat-area {
  grid-area: 2 / 2 / 3 / 3;
}

