#main-container {
  display: grid;
  grid-template:
    [header-left] "head head" [header-right]
    [main-left] "list  chat" 1fr [main-right]
    / 20vw 1fr;

  gap: 1em;
}

app-header-menu {
  grid-area: head;
}

app-chat-list {
  grid-area: list;
}

app-chat-area {
  grid-area: chat;
}
