#chat-area-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(110, 110, 110, 0.336);
  border-radius: 8px;
}

#chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1em;
  gap: 1em;

  overflow-y: scroll;
  scroll-behavior: smooth;
}

h3 {
  margin: 0;
  padding: 5px;
  border-radius: 8px 8px 0 0;
  background-color: rgba(110, 110, 110, 0.377);
}

input {
  width: 100%;
  padding: 8px;
  border: hidden;
  border-radius: 0 0 0 8px;
  background-color: rgba(110, 110, 110, 0.377);
}

#input-container {
  display: flex;
}

.message-container{
  display: flex;
}

.message-container .message {
  padding: 1em;
  background-color: rgba(110, 110, 110, 0.336);
  width: max-content;
  border-radius: 8px;
}

.message-content {
  text-align: justify;
  max-width: 500px;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.self{
  justify-content: flex-end;
  text-align: right;
}
