#menu-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

#app-icon {
  width: 50px;
  height: auto;
}

.container {
  margin-left: 5px;
	width: 50px;
	height: 50px;
	perspective: 400px;
}
.cube {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	animation: spin 5s linear infinite;
}
.face {
	position: absolute;
	width: 40px;
	height: 40px;
	background-size: cover;
  background-image: url(../../../favicon.ico);
}
.face.front {
	transform: translateZ(19.8px);
}
.face.back {
	transform: rotateY(180deg) translateZ(19.8px);
}
.face.right {
	transform: rotateY(90deg) translateZ(19.8px);
}
.face.left {
	transform: rotateY(-90deg) translateZ(19.8px);
}
.face.top {
	transform: rotateX(90deg) translateZ(19.8px);
}
.face.bottom {
	transform: rotateX(-90deg) translateZ(19.8px);
}
@keyframes spin {
	0% {
		transform: rotateX(0deg) rotateY(0deg);
	}
	100% {
		transform: rotateX(360deg) rotateY(360deg);
	}
}
