<dialog id="dialog-auth" class="dialog">
  @if (showSignUpDialog) {
    <app-sign-up />
  } @else {
    <app-log-in />
  }
  <p id="toggleDialogText" (click)="toggleDialog()">{{
      showSignUpDialog
      ? strings.Auth.AlreadyHaveAccount[cchatservice.getLanguage()]
      : strings.Auth.DontHaveAccount[cchatservice.getLanguage()]
    }},
    <u>{{
      showSignUpDialog
      ? strings.Auth.Login[cchatservice.getLanguage()]
      : strings.Auth.Signup[cchatservice.getLanguage()]
      }}
    </u>
  </p>
  <app-language-selector />
</dialog>
<h1> {{strings.Title[cchatservice.getLanguage()]}} <br>C-Chat</h1>
<div class="container">
  <div class="cube">
      <div class="face front"></div>
      <div class="face back"></div>
      <div class="face right"></div>
      <div class="face left"></div>
      <div class="face top"></div>
      <div class="face bottom"></div>
  </div>
</div>
