<dialog id="dialog-auth" class="dialog">
  @if (showSignUpDialog) {
    <app-sign-up />
  } @else {
    <app-log-in />
  }
  <p id="toggleDialogText" (click)="toggleDialog()">{{
      showSignUpDialog
      ? strings.Auth.AlreadyHaveAccount[cchatservice.getLanguage()]
      : strings.Auth.DontHaveAccount[cchatservice.getLanguage()]
    }},
    <u>{{
      showSignUpDialog
      ? strings.Auth.Login[cchatservice.getLanguage()]
      : strings.Auth.Signup[cchatservice.getLanguage()]
      }}
    </u>
  </p>
  <app-language-selector />
</dialog>
