<app-search-bar (filterText)="updateFilter($event)" />
<ul>
  @for (user of cchatService.getListFiltered(memberList, filter); track $index) {
    <li>{{user.name}}</li>
  }
</ul>
<div class="btn-wraper">
  <button class="btn-preferential" id="btn-close-modal" (click)="closeModal()">Close</button>
  <button id="btn-leave-chat" (click)="cchatService.toggleModalForm('dialog-confirmation-leave-chat', true)">Leave chat</button>
</div>
<dialog id="dialog-confirmation-leave-chat">
  <app-confirmation-prompt [text]="'leave this chat'" [func]="leaveChat" (closeDialog)="cchatService.toggleModalForm('dialog-confirmation-leave-chat', false)" />
</dialog>
