<form>
  <b>{{strings.Placeholder.ChatName[cchatService.getLanguage()]}}</b>
  <input type="text" [(ngModel)]="chatName" name="chatName" placeholder={{strings.Placeholder.ChatName[cchatService.getLanguage()]}}>
  <div class="btn-wraper">
    <button class="btn-preferential" type="submit" (click)="createChat()">
      {{strings.Buttons.Confirm[cchatService.getLanguage()]}}</button>
    <button type="reset" (click)="closeForm()">
      {{strings.Buttons.Cancel[cchatService.getLanguage()]}}</button>
  </div>
</form>
