<div id="list-container">
  <h2>
    Chats
    <hr>
  </h2>
  <app-search-bar (filterText)="updateFilter($event)" />
  <ul>
    @for (chat of cchatService.getListFiltered(chatList, filter); track chat.chatId) {
      <li (click)="selectChat(chat)">{{ chat.name }}</li>
    }
  </ul>
  <button id="btn-new-chat" (click)="cchatService.toggleModalForm('dialog-new-chat', true)">New chat</button>
</div>
<dialog id="dialog-new-chat">
  <app-create-chat-form (closeDialog)="cchatService.toggleModalForm('dialog-new-chat', false)" />
</dialog>
