<form>
  <h2>
    {{strings.Buttons.Login[cchatService.getLanguage()]}}
    <hr>
  </h2>
  <b>Email</b>
  <input
    type="email"
    [(ngModel)]="userData.email"
    name="email"
    placeholder="Email"
  />
  <b>{{strings.Placeholder.Password[cchatService.getLanguage()]}}</b>
  <input
    type="password"
    [(ngModel)]="userData.password"
    name="password"
    placeholder={{strings.Placeholder.Password[cchatService.getLanguage()]}}
  />
  <div class="btn-wraper">
    <button class="btn-preferential" type="submit" (click)="logIn()">{{strings.Buttons.Login[cchatService.getLanguage()]}}</button>
    <button type="reset">{{strings.Buttons.Reset[cchatService.getLanguage()]}}</button>
  </div>
</form>
